<html>
<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
</head>
<body>
<h1>Ubicación:</h1>
<section>
    <div class="container" align="center">
        <div id="map" class="map"></div>
    </div>

</section>
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
<script>
    let map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([(${lon}),(${lat})]),
            zoom: 15
        }),

    });

    let marker = new ol.Feature({
        geometry: new ol.geom.Point(
            ol.proj.fromLonLat([(${lon}),(${lat})])
        )
    });

    let vectorSource = new ol.source.Vector({
        features: [marker]
    });

    let markerVectorLayer = new ol.layer.Vector({
        source: vectorSource,
    });
    map.addLayer(markerVectorLayer);
</script>

</body>
</html>